{% load static tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        QR Code attendance system
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% tailwind_css %}
  </head>
  <body class="bg-gray-100">
    <!-- Main Container -->
    <div class="flex h-screen">
      <!-- Sidebar -->
      <aside class="w-64 bg-gray-800 text-white flex flex-col">
        <div class="p-6 text-2xl font-bold border-b border-gray-700">QR Attendance</div>
        <span>{{ user.username }}</span>
        <nav class="flex-1 p-4">
          <ul class="space-y-2">
            <li>
              <a href="{% url 'home' %}" class="flex items-center p-2 rounded hover:bg-gray-700">
                <span>🏠</span>
                <span class="ml-3">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="{% url 'employee_list' %}" class="flex items-center p-2 rounded hover:bg-gray-700">
                <span>👨‍💼</span>
                <span class="ml-3">Employees</span>
              </a>
            </li>
            <li>
              <a href="{% url 'scan_qr' %}" class="flex items-center p-2 rounded hover:bg-gray-700">
                <span>📷</span>
                <span class="ml-3">Scan QR</span>
              </a>
            </li>
            <li>
              <a href="{% url 'my_attendance'%}" class="flex items-center p-2 rounded hover:bg-gray-700">
                <span>📅</span>
                <span class="ml-3">My Attendance</span>
              </a>
            </li>
            <li>
              <a href="{% url 'all_attendance'%}" class="flex items-center p-2 rounded hover:bg-gray-700">
                <span>📅</span>
                <span class="ml-3">All Attendance</span>
              </a>
            </li>
            <li>
              <a href="{% url 'report' %}" class="flex items-center p-2 rounded hover:bg-gray-700">
                <span>📊</span>
                <span class="ml-3">Reports</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="p-4 border-t border-gray-700">
          <a href="{% url 'logout' %}" class="block p-2 rounded bg-red-600 text-center hover:bg-red-500">Logout</a>
        </div>
      </aside>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
